<script lang="ts">
    import {  page } from '$app/stores';
    import Poll from "../../components/Poll.svelte";
    import {title } from '../../utils/Stores';
    let pollName;
    $: title.set(pollName);
</script>

<Poll pollId={$page.params.id} bind:pollName={pollName}/>