<script lang="ts">
    import {appwrite, POLL_COLLECTION} from "../utils/AppwriteUtil";
    import {account} from '../utils/Stores';

    const poll = {creator: '', createdDate: new Date(), options: []};
    let option = '';
    let error;
    account.subscribe(a => {
        poll.creator = a.$id;
    });

    async function savePoll() {
        try {

            const document = await appwrite.database.createDocument(POLL_COLLECTION, "unique()", poll);
            window.location='/polls'
        } catch (e) {
            error = e;
        }
    }

    function addOption() {
        poll.options = [...poll.options, option];
        option = '';
    }

    function handleOptionKeypress(event){
        if(event.code==='Enter'){
            addOption()
        }
    }
</script>

<style lang="postcss">
    .form-header {
        @apply text-lg leading-6 font-medium text-gray-900;
    }

    .form-subheader {
        @apply mt-1 max-w-2xl text-sm text-gray-500;
    }

    .form-item {
        @apply sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5;
    }

    .form-item div {
        @apply mt-1 sm:mt-0 sm:col-span-2;
    }

    .form-label {
        @apply block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2;
    }

    .form-input {
        @apply flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-md sm:text-sm border-gray-300;
    }

    button.primary {
        @apply ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }

    .form-item-group :first-child {
        @apply rounded-r-none;
    }
    .form-item-group :last-child {
        @apply rounded-l-none;
    }
    .form-item-group :not(:first-child):not(:last-child) {
        @apply rounded-none;
    }

    .form-item-group button {
        @apply ml-0 rounded-l-none;
    }

    button.regular {
        @apply bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }
</style>

<form class="space-y-8 divide-y divide-gray-200" on:submit={(e)=>{e.preventDefault()}} action="#">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
        <div>
            <div>
                <h3 class="form-header">Poll</h3>
                <p class="form-subheader">Create a new poll.</p>
            </div>

            <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                <div class="form-item">
                    <label for="username" class="form-label">User ID </label>
                    <div>
                        <input name="username" id="username"  class="form-input bg-gray-200" disabled value={poll.creator}>
                    </div>
                </div>

                <div class="form-item">
                    <label for="name" class="form-label">Poll Name </label>
                    <div>
                        <input type="text" name="name" id="name" class="form-input" bind:value={poll.name}>
                    </div>
                </div>
                <div>

                </div>

            </div>
            <div class="form-item">
                <label class="form-label">Options</label>
                <div>
                    <div class="flex rounded-md form-item-group">
                        <input class="form-input rounded-r-none" bind:value={option} on:keypress={handleOptionKeypress}>
                        <button class="primary " type="button" on:click={()=>addOption()}>Add Option</button>
                    </div>
                    <ul>
                        {#each poll.options as option}
                            <li>{option}</li>
                        {/each}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="pt-5">
        <div class="flex justify-end">
            <button type="button" class="regular">
                Cancel
            </button>
            <button type="button" class="primary" on:click={()=>savePoll()}>
                Save
            </button>
        </div>
    </div>
</form>

{#if error}
    <p>{error}</p>
{/if}


