<script lang="ts">
    import {appwrite, POLL_COLLECTION} from '../utils/AppwriteUtil';

    const pollPromise = appwrite.database.listDocuments(POLL_COLLECTION);
</script>
{#await pollPromise}
    <p>Loading polls</p>
{:then response}
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {#each response.documents as poll}
        <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
            <div class="flex-1 min-w-0">
                <a href={`poll/${poll.$id}`} class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-gray-900">{poll.name}</p>
                    <p class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"> Active </p>
                </a>
            </div>
        </div>
        {/each}
    </div>

{:catch error}
    <p>Error {JSON.stringify(error)}</p>
{/await}