<script lang="ts">
    import {appwrite, POLL_COLLECTION, VOTE_COLLECTION} from '../utils/AppwriteUtil';
    import {Query} from 'appwrite';
    import {writable} from 'svelte/store';
    import {browser} from '$app/env';

    import {account} from '../utils/Stores';

    export let pollId;
    export let pollName="";
    $: pollPromise = (pollId != undefined && $account.$id && appwrite.database.getDocument(POLL_COLLECTION, pollId)) || new Promise(() => {});
    $: pollPromise.then(poll=>pollName=poll.name);
    async function getVotes(pollId) {
        const response = await appwrite.database.listDocuments(VOTE_COLLECTION, [Query.equal("poll", pollId)]);
        return response.documents;
    }

    const voteStore = writable({});
    let selfVote = undefined;
    $: voteSummary = Object.values($voteStore).reduce( (previous,current)=>{previous[current]=(previous[current]||0)+1;return previous;},{});
    $: totalCount = Object.values(voteSummary).reduce((previous,current)=>previous+current,0);

    function processVote(vote) {
        voteStore.update((current) => {
            current[vote.voter] = vote.voteFor;
            return current;
        });
        if (vote.voter === $account.$id) {
            selfVote = vote;
        }

    }

    $:{
        if (pollId)
            getVotes(pollId).then(votes => votes.forEach(v => processVote(v)));
        if (browser) {
            appwrite.subscribe([`collections.${VOTE_COLLECTION}.documents`], (event) => {
                const vote = event.payload;
                if (vote.poll === pollId) {
                    processVote(vote);
                }
            });
        }
    }

    function castVote(option) {
        const userId = $account.$id;
        const vote = {voter: userId, poll: pollId, voteFor: option, voteDate: new Date()};
        if (selfVote) {
            appwrite.database.updateDocument(VOTE_COLLECTION, selfVote.$id, vote).then(result=>processVote(result));
        } else {
            appwrite.database.createDocument(VOTE_COLLECTION, "unique()", vote).then(result=>processVote(result));
        }
    }

</script>
{#await pollPromise}
    <p>Loading poll...</p>
{:then poll}
    <div class="flex-none md:flex justify-center" >
        <div>
            {#each poll.options as option}
                <div on:click={()=>castVote(option)}
                     class:selected={selfVote?.voteFor===option}
                     class="option">
                    <div class="w-full">
                        <p class="text-sm font-medium text-gray-900">{option}</p>
                        <div class="progress-bar" style="width:{(voteSummary[option]/totalCount*100)||0}%"></div>
                    </div>
                </div>
            {/each}
        </div>
    </div>
{:catch error}
    <p>{JSON.stringify(error)}</p>
{/await}
<style>
    .option {
        @apply my-3 relative rounded-lg border border-gray-300 bg-white px-2 py-3 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 min-w-full md:min-w-[30rem];
    }

    .option.selected, .option.selected * {
        @apply bg-indigo-600 text-white;
    }
    .progress-bar{
        @apply h-1 my-1 bg-gray-400;
    }

    .option.selected .progress-bar{
        @apply bg-white;
    }
</style>