@tailwind base;
@layer base {
    button{
        @apply px-3 py-1 border-2 rounded-md hover:drop-shadow-lg hover:bg-gray-200 border-gray-400
    }
}
@tailwind components;
@layer components {
    label {
        @apply block text-sm font-medium text-gray-700;
    }
   input{
       @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md;
   }
}
@tailwind utilities;
